:root {
    --general-padding: 15px;
    --general-margin: 15px;
}

body {
    display: flex;
    flex-wrap: wrap;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    background-color: rgb(252, 240, 223);
}

header {
    display: inline-flex;
    flex: 100%;
    justify-content: space-between;
    padding-top: var(--general-padding);
    padding-bottom: var(--general-padding);
    background-color: orange;
}

header h1 {
    font-size: 40px;
    padding-left: var(--general-padding);
    padding-right: var(--general-padding);
}

header nav {
    font-weight: 700;
    padding-top: 8px;
    padding-right: var(--general-padding);
    
}

header nav a {
    margin: var(--general-margin);
}

hr {
    border: none;
    background-color: darkblue;
    height: 10px;
    margin-top: var(--general-margin);
    margin-bottom: var(--general-margin);

}

/* .AboutMe  */
h2 {
    font-size: 30px;
    margin-top: var(--general-margin);
    margin-bottom: var(--general-margin);
    /* background-color: aqua; */
    text-align: center;
}

.photo img{
    max-width: 50%;
    justify-content: flex-start;
    padding-left: var(--general-padding);
    padding-right: var(--general-padding);
}

.AboutMe{
    padding-right: var(--general-padding);
    padding-left: var(--general-padding);
    padding-top: var(--general-padding);
    text-align: center;
}

.AboutMe p{
    margin-top: var(--general-margin);
}

.projects {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    padding-top: var(--general-padding);
    padding-bottom: var(--general-padding);
    background-color: lightcoral;
    justify-content: center;
}   

.card1 {
    display: block;
    flex-basis: 30%;
    padding: var(--general-padding);
    box-sizing: border-box;
}

.card {
    display: block;
    flex-basis: 30%;
    padding: var(--general-padding);
    box-sizing: border-box;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-right: var(--general-margin);
    margin-bottom: var(--general-margin);
}

footer h2 {
    margin-bottom: var(--general-margin);
    text-align: right;
}

footer li {
    padding: 2px;
}

@media screen and (max-width: 992px) {
    .card {
        flex-basis: 50%;
    }
}

@media screen and (max-width: 768px) {
    .card {
        flex-basis: 100%;
    }
}