:root {
    /* common padding value used throughout */
    --general-padding: 15px;
    /* common margin value used throughout */
    --general-margin: 15px;
    --font-weight: 700;
}

body {
    display: flex;
    flex-wrap: wrap;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    background-color: rgb(252, 240, 223);
}

header {
    /* Puts h1 and nav on opposite ends, but keeps them inline */
    display: inline-flex;
    flex: 100%;
    justify-content: space-between;
    padding-top: var(--general-padding);
    padding-bottom: var(--general-padding);
    background-color: orange;
}

header h1 {
    font-size: 40px;
    padding-left: var(--general-padding);
    padding-right: var(--general-padding);
}

header nav {
    font-weight: 700;
    padding-top: 8px;
    padding-right: var(--general-padding);
    
}

header nav a {
    margin: var(--general-margin);
}

/* darkblue horizontal lines to help divide up the page's sections */
hr {
    border: none;
    background-color: darkblue;
    height: 10px;
    margin-top: var(--general-margin);
    margin-bottom: var(--general-margin);
}

h2 {
    font-size: 30px;
    margin-top: var(--general-margin);
    margin-bottom: var(--general-margin);
    text-align: center;
}

.photo img{
    max-width: 70%;
    padding-left: var(--general-padding);
    padding-right: var(--general-padding);
}

.AboutMe{
    padding-right: var(--general-padding);
    padding-left: var(--general-padding);
    padding-top: var(--general-padding);
    text-align: center;
}

.AboutMe p{
    margin-top: var(--general-margin);
}

/* the overall container for the project cards */
.projects {
    /* enabling flexbox and flex-wrap */
    display: flex;
    flex-wrap: wrap;
    /* 90% width to allow for side borders/margins */
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    padding-top: var(--general-padding);
    padding-bottom: var(--general-padding);
    background-color: lightcoral;
    /* centering the overall container */
    justify-content: center;
}   

.card {
    /* flex-direction: column so I can have the .card h3 on top of the cards, instead of side by side */
    display: flex;    
    flex-direction: column;
    /* flex-basis: 30%, to have 3 cards per row at full screen */
    flex-basis: 30%;
    padding: var(--general-padding);
    border: solid darkblue medium;
}

.card a {
    display: flex;
    justify-content: center;
}

.card h3 {
    display: flex;
    font-size: 30px;
    font-weight: var(--font-weight);
    color: darkblue;
    justify-content: center;   
}

footer {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-right: var(--general-margin);
    margin-bottom: var(--general-margin);
}

footer h2 {
    margin-bottom: var(--general-margin);
    text-align: right;
}

footer li {
    padding: 2px;
}

/* when screen starts shrinking, change dynamic to 2 cards per row */
@media screen and (max-width: 992px) {
    .card {
        flex-basis: 50%;
    }
}

/* for mobile, change to a single column */
@media screen and (max-width: 768px) {
    .card {
        flex-basis: 100%;
    }
}