:root {

}

body {
    display: flex;
    flex-wrap: wrap;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    background-color: rgb(252, 240, 223);
}

header {
    display: inline-flex;
    flex: 100%;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: orange;
}

header h1 {
    font-size: 40px;
    padding-left: 15px;
    padding-right: 15px;
}

header nav {
    font-size: 24px;
    font-weight: 400;
    color: darkblue;
    padding-top: 8px;
    padding-right: 15px;
}

header nav a {
    margin: 10px; 
}

hr {
    border: none;
    background-color: darkblue;
    height: 10px;
    margin-top: 20px;
    margin-bottom: 20px;

}

/* .AboutMe  */
h2 {
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    /* background-color: aqua; */
    text-align: center;
}

.photo img{
    max-width: 100%;
    justify-content: flex-start;
    padding-left: 20px;
    padding-right: 20px;
}

.AboutMe{
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    text-align: center;
}

.AboutMe p{
    font-size: 24px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: lightcoral;
    justify-content: center;
}   

.card1 {
    display: block;
    flex-basis: 30%;
    padding: 10px;
    box-sizing: border-box;
}

.card {
    display: block;
    flex-basis: 30%;
    padding: 10px;
    box-sizing: border-box;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-right: 20px;
    margin-bottom: 20px;
}

footer h2 {
    margin-bottom: 10px;
    text-align: right;
}

footer li {
    padding: 2px;
}

@media screen and (max-width: 992px) {
    .card {
        flex-basis: 50%;
    }
}

@media screen and (max-width: 768px) {
    .card {
        flex-basis: 100%;
    }
}